/*** CSS ***/
body{

    background-color: #E0F4FC; 
    height: 100%; 
    position: relative;
}
header{
    margin-top: 70px;
    margin-bottom: 50px;
}

a{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.top-buffer{
    margin-top: 20px;
}

.top-buffer-35{
    margin-top: 35px;
}

.overlay-container{
    visibility: hidden;
}

.bg-layer{
    visibility: hidden;
}

.content{

}

.content-container{
    padding-right: 30px;
    padding-left: 30px;
}

.heading-upper{
    /*border-bottom: 2px solid #B1E3FA;*/
    margin-bottom: 15px;
}

.heading-upper p{
    position: relative;
    margin-bottom: 0;
}

.logo-name{
    color: #25AAE1;
}

.logo-name:hover {
    text-decoration: underline;
    color: #25AAE1;
    /*color: #063CA5;*/
}

.logo-name h1{
    font-size: 42px;
    padding: 0;
}

.nav-upper-space{
    position: relative;
    min-height: 35px;
}

.nav-upper{
    display: inline-block;
    position: absolute;
    bottom: -30px;
    right: 10px;
}

.nav1-list{ 
    display: inline-block;
    list-style: none;
    float: left;
}

.nav1-list li{
    display: inline;
}
/*
    RENAME THE DAMN NAVS
*/

.nav2-list{
    display: inline-block;
    list-style: none;
    /*float: right;*/
}

.nav2-list li{
    display: inline-block;
    float: left;
    

}

.social-nav li a{
    display: inline-block;
    text-decoration: none;
    float: left;
    margin: 0 10px;
    height: 31px;
    width: 31px;
    background-color: #25AAE1;
    color: #E0F4FC;

    border-width: 0;/*2px;*/
    border-style: solid;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    text-align: center;
    padding-top: 4px;

}

.social-nav li a:hover{
    background-color: #1B4D68;
    width: 35px;
    height: 35px;
    padding-top: 6px;
    margin: 0 8px;
    margin-top: -2px;
}

.social-nav{
    margin: 0;
    padding: 0;
    min-height: 35px;
}

.social-nav li:first-of-type a{
    margin-left: 0;
}

.social-nav li:first-of-type a:hover{
    margin-left: -2px;
    /*margin-right: 6px;*/
}

.social-nav .fa-github {
    margin-top: 5px;
    margin-left: 1px;
}

.social-nav .fa-linkedin {
    margin-left: 1px;
    margin-top: 2px;
}

.social-nav .fa-envelope {
    margin-left: 1px;
    margin-top: 4px;
}

.social-nav .fa-twitter {
    margin-left: 2px;
    margin-top: 6px;
}


.hide-mobile{

}

.vertical-space{
    
}

.page-content{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2B527B; /*23527B*/
    /*font-weight: ;*/
}

.page-content p{
    margin: 0 0 16px;
}

.name {
    font-size: 18px;
    color: #25AAE1;
    /*text-decoration: underline;*/
}

footer {
    margin-top: 80px;
    min-height: 20px; /*120px*/
}
.copyright-footnote {
    text-align: left;
    font-size: 13px;
}
